{% include "header.tpl" %}

    {% for pastes in list_of_pastes %}
        <a href="/paste/{{ pastes.id }}">Paste #{{ pastes.id }} - {{ pastes.title }}</a><br />
    {% endfor %}

{% include "footer.tpl" %} 
